.form-control {
  @apply block  w-full focus:outline-none border border-grey;
  padding: 10px 12px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  transition: box-shadow, border-color 500ms ease-in-out;

  &-error {
    @apply block w-full focus:outline-none border border-red-600;
    padding: 10px 12px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
  }
}

.form-control:focus {
  box-shadow: rgba(248, 102, 36, 0.25) 0 0 0 0.2rem;
  @apply text-primary;
}