.nav {
  min-height: 80px;

  &_left {
    max-width: 569px;
    width: 100%;
  
    &_inner {
      max-width: 387px;
      width: 100%;
    }
  }

  &_menu_item {
    @apply flex hover:text-primary  items-center px-4 py-2 cursor-pointer;
  }
}

.menu {
  width: 148px;
}