@import url("./_typography");
@import url("./_btn");
@import url("./_input");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-info: #FCAF63 !important;
  --toastify-font-family: Mazzard, sans-serif !important;
  --toastify-text-color-light: #101828 !important;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: Mazzard, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.custom-container {
  @apply container max-w-screen-xl mx-auto px-4 md:px-6;
}

.custom-container-no-p {
  @apply container max-w-screen-2xl mx-auto;
}