.hero {
  &_text_content {
    @media screen(md) {
      width: 52%;
      max-width: 624px;
    }
  }

  &_image {
    width: 48%;
  }

  &_anim_image {
    animation: myfirst 3s linear 1;
  }
}

@keyframes myfirst {
  0% {
    right: -50%;
  }
  100% {
    right: 0;
  }
}
